<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gatitofeliz.gatitofeliz" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GatitoFeliz</name>
    <description>App de un gato</description>
    <author email="ciat.0313@gmail.com" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        chris
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="hostname" value="localhost" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <allow-navigation href="*" />   
    <icon src="www/img/images.jpg"/>
</widget>
